.site-header{
    background-color: magenta;
    color:white;
    height: 99vh;
    font-family:monospace ;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}
.site-header-content{
    margin:2px;
    color:red;
}
.profile-pic{
    border-radius: 50%;
    height:200px;
    width:200px;
    alin-self:center;
    box-shadow:black 2px 5px 5px;

}
.course-link{
    color:blue;
}
body{
    margin:3;
    color:red;
}